@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
#users {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 15%;
}

#users td,
#users th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: small;
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}


/*SIDE BAR*/

.sidebar {
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    background: grey;
    padding-top: 50px;
    z-index: 1;
}

.sidebar h1 {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
}

.sidebar a:hover {
    color: #fff;
    margin-left: 20px;
    transition: 0.4s;
}

input[type=text] {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius:10px;
    display: block;
    box-sizing: border-box;
  }
  .button{
    margin:10px 0;
    margin-left: 610;
    width: 40%;
  }
  .butt2{
    margin:10px 0;
    margin-left: 610;
    width: 40%;
  }
  
 